.sidebar {
    width: 250px;
    height:100vh;
    background-color: var(--lightyellow);
    color: var(--red);
    padding: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    position: fixed;
    top:0;
    left:0;
    border-right: 4px solid var(--red);
    z-index: 3;
}

.logoImage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 90px;
    margin-left: 30px;
    
}

.link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--red);
    margin: 40px 40px 30px 5px;
    font-size:large;
    border-color: 6px solid black;
    
}

.link:hover {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--red);
    margin: 40px 40px 30px 10px;
    font-size:large;
    border-color: 6px solid black;
    
}

.sideicon {
    margin-right: 20px;
  
}

.footer {
    
    margin-top: auto;
    margin-bottom: 40px;
}