.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.backgroundImage {
  background-image: url('/images/bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.main {
  font-family: var(--main-font);
}

.pizzaBox {
  position: relative;
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-self: center;
  margin:20px;
}
